@font-face {
    font-family: 'Gilroy-bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Gilroy-Bold.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Gilroy-Medium.ttf'); /* IE9 Compat Modes */
}