.btn {
    background: #070707;
    border-radius: 60px;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    border-width: 0;
    padding: 13px 0px;
    cursor: pointer;
}